1 tianchi_fresh_comp_train_user.csv

- Data Size: 23291027
- Columns: 
  - 0-user_id-int64
  - 1-item_id-int64
  - 2-behavior_type-int64: View(1) Favorite(2) AddToCart(3) Buy(4)
  - 3-user_geohash-object
  - 4-item_category-int64
  - 5-time-object: Year-Month-Day Hour
- Memory Usage: 1.0+ GB

2 tianchi_fresh_comp_train_item.csv 

- Data Size: 620918
- Columns:
  - 0-item_id-int64
  - 1-item_geohash-object
  - 2-item_category-int64
- Memory Usage: 14.2+ MB

In [6]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23291027 entries, 0 to 23291026
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        int64
 1   item_id        int64
 2   behavior_type  int64
 3   user_geohash   object
 4   item_category  int64
 5   time           object
dtypes: int64(4), object(2)
memory usage: 1.0+ GB

In [3]:
users.head(10)

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11
5,10001082,53616768,4,NaN,9762,2014-12-02 15
6,10001082,290088061,1,NaN,5503,2014-12-12 12
7,10001082,298397524,1,NaN,10894,2014-12-12 12
8,10001082,32104252,1,NaN,6513,2014-12-12 12
9,10001082,323339743,1,NaN,10894,2014-12-12 12

In [7]:
items = pd.read_csv('data/tianchi_fresh_comp_train_item.csv')
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620918 entries, 0 to 620917
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item_id        620918 non-null  int64
 1   item_geohash   203410 non-null  object
 2   item_category  620918 non-null  int64
dtypes: int64(2), object(1)
memory usage: 14.2+ MB

In [5]:
items.head(10)

     item_id item_geohash  item_category
0  100002303          NaN           3368
1  100003592          NaN           7995
2  100006838          NaN          12630
3  100008089          NaN           7791
4  100012750          NaN           9614
5  100014072          NaN           1032
6  100014463          NaN           9023
7  100019387          NaN           3064
8  100023812          NaN           6700
9   10003007          NaN           5827

In [1]:
import pandas as pd

In [2]:
users = pd.read_csv('data/tianchi_fresh_comp_train_user.csv')
items = pd.read_csv('data/tianchi_fresh_comp_train_item.csv')