In [2]:
# import pandas as pd

In [3]:
# users = pd.read_csv('data/tianchi_fresh_comp_train_user.csv')

In [5]:
# users_demo = users.iloc[:100]
# users_demo

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11
...,...,...,...,...,...,...
95,10001082,282816229,1,NaN,9666,2014-12-14 03
96,10001082,362845104,1,NaN,5176,2014-12-13 14
97,10001082,262112219,1,NaN,9614,2014-11-22 12
98,10001082,275221686,1,NaN,10576,2014-12-13 14
99,10001082,275221686,1,NaN,10576,2014-12-02 22

In [9]:
# import pickle

# with open('data/users_demo.pickle', 'wb') as f:
#     pickle.dump(users_demo, f)

In [13]:
import pickle
with open('data/users_demo.pickle', 'rb') as f:
    users_demo = pickle.load(f)

In [14]:
users_group = users_demo.drop('user_geohash', axis=1).groupby(['user_id', 'item_category'])
c = 0
for user in users_group:
    print(user[1])

user_id    item_id  behavior_type  item_category           time
58  10001082  377161387              1           1863  2014-12-15 08
     user_id    item_id  behavior_type  item_category           time
10  10001082  396795886              1           2825  2014-12-12 12
11  10001082    9947871              1           2825  2014-11-28 20
32  10001082   82238041              1           2825  2014-12-12 12
36  10001082  347100924              1           2825  2014-12-12 12
62  10001082   85851739              1           2825  2014-12-14 16
76  10001082   85851739              1           2825  2014-12-14 16
92  10001082   82238041              1           2825  2014-12-12 12
     user_id    item_id  behavior_type  item_category           time
12  10001082  150720867              1           3200  2014-12-15 08
31  10001082  133020432              1           3200  2014-12-15 08
    user_id    item_id  behavior_type  item_category           time
0  10001082  285259775              1           4076  2014-12-08 18
     user_id    item_id  behavior_type  item_category           time
90  10001082  165292036              1           4370  2014-11-28 20
     user_id    item_id  behavior_type  item_category           time
24  10001082  125083630              1           4722  2014-12-14 03
     user_id    item_id  behavior_type  item_category           time
44  10001082  117708332              1           5176  2014-12-08 18
53  10001082  362845104              1           5176  2014-12-08 18
66  10001082  216415944              1           5176  2014-12-13 14
72  10001082  216415944              1           5176  2014-12-13 14
73  10001082  262470188              1           5176  2014-12-13 14
74  10001082  216415944              1           5176  2014-12-13 14
84  10001082  117708332              1           5176  2014-12-08 19
85  10001082  262470188              1           5176  2014-12-13 14
96  10001082  362845104              1           5176  2014-12-13 14
     user_id    item_id  behavior_type  item_category           time
4   10001082  151466952              1           5232  2014-12-12 11
19  10001082  266563343              1           5232  2014-12-12 11
20  10001082  151466952              1           5232  2014-12-12 11
50  10001082   29558680              1           5232  2014-12-12 11
64  10001082  151466952              1           5232  2014-12-12 11
77  10001082  184299215              1           5232  2014-12-12 11
94  10001082  212028630              1           5232  2014-12-12 11
     user_id    item_id  behavior_type  item_category           time
65  10001082  278017344              1           5334  2014-12-14 03
     user_id    item_id  behavior_type  item_category           time
1   10001082    4368907              1           5503  2014-12-12 12
2   10001082    4368907              1           5503  2014-12-12 12
6   10001082  290088061              1           5503  2014-12-12 12
55  10001082  222375145              1           5503  2014-12-12 11
     user_id    item_id  behavior_type  item_category           time
38  10001082  223569678              1           5653  2014-12-12 12
70  10001082  223569678              1           5653  2014-12-12 12
     user_id    item_id  behavior_type  item_category           time
21  10001082  209290607              1           5894  2014-12-14 16
29  10001082   45258196              1           5894  2014-12-12 12
48  10001082  327034531              1           5894  2014-12-12 12
69  10001082  360052979              1           5894  2014-12-12 12
     user_id    item_id  behavior_type  item_category           time
26  10001082  282931871              1           6000  2014-12-10 13
40  10001082   62687596              1           6000  2014-12-10 13
49  10001082   90957005              1           6000  2014-12-10 13
52  10001082   90957005              1           6000  2014-12-10 13
67  10001082   17500214              1           6000  2014-12-10 13
     user_id    item_id  behavior_type  item_category           time
54  10001082  148776642              1           6255  2014-12-12 12
     user_id    item_id  behavior_type  item_category           time
8   10001082   32104252              1           6513  2014-12-12 12
39  10001082  225520260              1           6513  2014-12-12 12
51  10001082  330054146              1           6513  2014-12-12 12
68  10001082  200101228              1           6513  2014-11-28 20
75  10001082  225520260              1           6513  2014-12-12 12
     user_id    item_id  behavior_type  item_category           time
18  10001082  296378545              1           6669  2014-12-02 12
22  10001082  296378545              1           6669  2014-12-02 12
     user_id    item_id  behavior_type  item_category           time
17  10001082  220586551              1           7079  2014-12-14 03
61  10001082  220586551              4           7079  2014-12-14 03
     user_id    item_id  behavior_type  item_category           time
60  10001082  148581898              1           7229  2014-11-24 17
     user_id    item_id  behavior_type  item_category           time
89  10001082  262112219              1           9614  2014-11-22 12
97  10001082  262112219              1           9614  2014-11-22 12
     user_id    item_id  behavior_type  item_category           time
95  10001082  282816229              1           9666  2014-12-14 03
     user_id   item_id  behavior_type  item_category           time
3   10001082  53616768              1           9762  2014-12-02 15
5   10001082  53616768              4           9762  2014-12-02 15
37  10001082  53616768              1           9762  2014-12-02 12
88  10001082  53616768              1           9762  2014-12-02 22
     user_id    item_id  behavior_type  item_category           time
27  10001082  266188611              1          10223  2014-11-20 19
57  10001082  266188611              1          10223  2014-11-20 19
79  10001082  266188611              1          10223  2014-11-20 19
80  10001082  266188611              1          10223  2014-11-20 19
     user_id   item_id  behavior_type  item_category           time
23  10001082  22667958              1          10523  2014-12-15 08
     user_id    item_id  behavior_type  item_category           time
13  10001082  275221686              1          10576  2014-12-03 01
14  10001082   97441652              1          10576  2014-11-20 21
15  10001082  275221686              1          10576  2014-12-13 14
16  10001082  275221686              1          10576  2014-12-08 07
25  10001082  236453039              1          10576  2014-12-08 07
30  10001082  326973863              1          10576  2014-12-02 22
33  10001082  275221686              1          10576  2014-12-08 07
34  10001082  275221686              1          10576  2014-12-08 00
35  10001082  275221686              1          10576  2014-12-17 05
41  10001082  195429067              1          10576  2014-11-20 21
42  10001082   50228869              1          10576  2014-12-08 07
45  10001082  275221686              1          10576  2014-12-13 14
46  10001082  326973863              1          10576  2014-12-02 22
47  10001082  167022568              1          10576  2014-11-20 21
56  10001082  326973863              1          10576  2014-12-02 22
71  10001082  275221686              1          10576  2014-12-13 14
78  10001082  275221686              1          10576  2014-12-14 16
83  10001082  275221686              4          10576  2014-12-02 22
86  10001082  275221686              1          10576  2014-12-03 01
87  10001082  275221686              1          10576  2014-12-03 01
93  10001082  275221686              1          10576  2014-12-08 00
98  10001082  275221686              1          10576  2014-12-13 14
99  10001082  275221686              1          10576  2014-12-02 22
     user_id    item_id  behavior_type  item_category           time
7   10001082  298397524              1          10894  2014-12-12 12
9   10001082  323339743              1          10894  2014-12-12 12
28  10001082  302705570              1          10894  2014-12-12 12
63  10001082  298397524              1          10894  2014-12-12 12
81  10001082  323339743              1          10894  2014-12-12 12
82  10001082  298397524              1          10894  2014-12-12 12
91  10001082  170596596              1          10894  2014-12-12 11
     user_id  item_id  behavior_type  item_category           time
43  10001082   582649              1          12147  2014-12-17 18
     user_id    item_id  behavior_type  item_category           time
59  10001082  110790001              1          13230  2014-12-14 16

In [15]:
"""
features_df = dataframe
for each group in users_group:
    cout num_views, num_favorites, num_add2carts in behavior_type
    new_row = dict(user_id, buyOrNot, num_views, num_favorites, num_add2carts, time)
    add new_row to features_df
return features_df
"""

import pandas as pd

features_df = pd.DataFrame(columns=['user_id', 'buyOrNot', 'num_views', 'num_favorites', 'num_add2carts'])

print(len(users_group))
for user in users_group:
    behavior_counts = user[1]['behavior_type'].value_counts()
    num_views = behavior_counts.get(1, 0)
    num_favorites = behavior_counts.get(2, 0)
    num_add2carts = behavior_counts.get(3, 0)
    buyOrNot = 1 if behavior_counts.get(4, 0) else 0

    new_row = [{'user_id': user[0][0], 'buyOrNot': buyOrNot, 'num_views': num_views, 'num_favorites': num_favorites, 'num_add2carts': num_add2carts}]
    features_df = features_df.append(new_row, ignore_index=True)

print(features_df)

27
     user_id buyOrNot num_views num_favorites num_add2carts
0   10001082        0         1             0             0
1   10001082        0         7             0             0
2   10001082        0         2             0             0
3   10001082        0         1             0             0
4   10001082        0         1             0             0
5   10001082        0         1             0             0
6   10001082        0         9             0             0
7   10001082        0         7             0             0
8   10001082        0         1             0             0
9   10001082        0         4             0             0
10  10001082        0         2             0             0
11  10001082        0         4             0             0
12  10001082        0         5             0             0
13  10001082        0         1             0             0
14  10001082        0         5             0             0
15  10001082        0         2             0             0
16  10001082        1         1             0             0
17  10001082        0         1             0             0
18  10001082        0         2             0             0
19  10001082        0         1             0             0
20  10001082        1         3             0             0
21  10001082        0         4             0             0
22  10001082        0         1             0             0
23  10001082        1        22             0             0
24  10001082        0         7             0             0
25  10001082        0         1             0             0
26  10001082        0         1             0             0

In [12]:
import pandas as pd

data_file = 'data/features/features_test.csv'
data_df = pd.read_csv(data_file)
pos_samples = data_df.loc[data_df['buyOrNot'] == 1]
neg_samples = data_df.loc[data_df['buyOrNot'] == 0]
num_pos = pos_samples.shape[0]
print('Number of Positive Samples: %d' % num_pos)
num_neg = neg_samples.shape[0]
print('Number of Negative Samples: %d' % num_neg)

if num_pos < num_neg:
    # do data balancing
    neg_samples_balanced = neg_samples.sample(n=num_pos)

data_balanced = pd.concat([pos_samples, neg_samples_balanced], axis=0)
data_balanced

Number of Positive Samples: 13
Number of Negative Samples: 125

     Unnamed: 0    user_id  buyOrNot  num_views  num_favorites  num_add2carts
17           17   10001082         1          3              0              0
21           21   10001082         1          7              0              0
24           24   10001082         1         45              0              0
26           26   10001082         1          2              0              0
38           38  100029775         1         30              0              1
39           39  100029775         1         38              2              0
44           44  100029775         1          6              0              0
47           47  100029775         1         27              1              0
60           60  100029775         1         11              0              0
75           75  100068031         1          4              0              2
94           94  100068031         1         16              0              0
107         107  100068031         1          0              0              0
126         126  100068031         1         59              0              0
114         114  100068031         0          1              0              0
104         104  100068031         0          4              0              0
89           89  100068031         0          3              0              0
128         128  100068031         0         38              0              0
82           82  100068031         0          1              0              0
16           16   10001082         0          7              0              0
85           85  100068031         0          1              0              0
7             7   10001082         0         17              0              0
96           96  100068031         0          4              0              0
0             0   10001082         0          2              0              0
66           66  100029775         0          3              0              0
56           56  100029775         0          2              0              0
123         123  100068031         0          1              0              0

In [7]:
import pandas as pd

data = pd.read_csv('data/features/features_behavior_count_balanced.csv')
len(data)

1744