In [2]:
# import pandas as pd

In [3]:
# users = pd.read_csv('data/tianchi_fresh_comp_train_user.csv')

In [5]:
# users_demo = users.iloc[:100]
# users_demo

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11
...,...,...,...,...,...,...
95,10001082,282816229,1,NaN,9666,2014-12-14 03
96,10001082,362845104,1,NaN,5176,2014-12-13 14
97,10001082,262112219,1,NaN,9614,2014-11-22 12
98,10001082,275221686,1,NaN,10576,2014-12-13 14
99,10001082,275221686,1,NaN,10576,2014-12-02 22

In [9]:
# import pickle

# with open('data/users_demo.pickle', 'wb') as f:
#     pickle.dump(users_demo, f)

In [1]:
import pickle
with open('data/users_demo.pickle', 'rb') as f:
    users_demo = pickle.load(f)

In [3]:
users_group = users_demo.groupby(['user_id', 'item_category'])
c = 0
for user in users_group:
    print(user[1])
    c += 1
    if c == 10:
        break

user_id    item_id  behavior_type user_geohash  item_category  \
58  10001082  377161387              1      95qognc           1863

             time
58  2014-12-15 08
     user_id    item_id  behavior_type user_geohash  item_category  \
10  10001082  396795886              1          NaN           2825
11  10001082    9947871              1          NaN           2825
32  10001082   82238041              1          NaN           2825
36  10001082  347100924              1          NaN           2825
62  10001082   85851739              1          NaN           2825
76  10001082   85851739              1          NaN           2825
92  10001082   82238041              1          NaN           2825

             time
10  2014-12-12 12
11  2014-11-28 20
32  2014-12-12 12
36  2014-12-12 12
62  2014-12-14 16
76  2014-12-14 16
92  2014-12-12 12
     user_id    item_id  behavior_type user_geohash  item_category  \
12  10001082  150720867              1      95qoghe           3200
31  10001082  133020432              1      95qog2a           3200

             time
12  2014-12-15 08
31  2014-12-15 08
    user_id    item_id  behavior_type user_geohash  item_category  \
0  10001082  285259775              1      97lk14c           4076

            time
0  2014-12-08 18
     user_id    item_id  behavior_type user_geohash  item_category  \
90  10001082  165292036              1          NaN           4370

             time
90  2014-11-28 20
     user_id    item_id  behavior_type user_geohash  item_category  \
24  10001082  125083630              1          NaN           4722

             time
24  2014-12-14 03
     user_id    item_id  behavior_type user_geohash  item_category  \
44  10001082  117708332              1      97lk157           5176
53  10001082  362845104              1      97lk15v           5176
66  10001082  216415944              1          NaN           5176
72  10001082  216415944              1          NaN           5176
73  10001082  262470188              1          NaN           5176
74  10001082  216415944              1          NaN           5176
84  10001082  117708332              1      97lk15h           5176
85  10001082  262470188              1          NaN           5176
96  10001082  362845104              1          NaN           5176

             time
44  2014-12-08 18
53  2014-12-08 18
66  2014-12-13 14
72  2014-12-13 14
73  2014-12-13 14
74  2014-12-13 14
84  2014-12-08 19
85  2014-12-13 14
96  2014-12-13 14
     user_id    item_id  behavior_type user_geohash  item_category  \
4   10001082  151466952              1          NaN           5232
19  10001082  266563343              1      95qobus           5232
20  10001082  151466952              1          NaN           5232
50  10001082   29558680              1      95qob0m           5232
64  10001082  151466952              1          NaN           5232
77  10001082  184299215              1      95qobsg           5232
94  10001082  212028630              1      95qobv6           5232

             time
4   2014-12-12 11
19  2014-12-12 11
20  2014-12-12 11
50  2014-12-12 11
64  2014-12-12 11
77  2014-12-12 11
94  2014-12-12 11
     user_id    item_id  behavior_type user_geohash  item_category  \
65  10001082  278017344              1          NaN           5334

             time
65  2014-12-14 03
     user_id    item_id  behavior_type user_geohash  item_category  \
1   10001082    4368907              1          NaN           5503
2   10001082    4368907              1          NaN           5503
6   10001082  290088061              1          NaN           5503
55  10001082  222375145              1      95qobv6           5503

             time
1   2014-12-12 12
2   2014-12-12 12
6   2014-12-12 12
55  2014-12-12 11