In [4]:
import pandas as pd

In [5]:
users = pd.read_csv('data/tianchi_fresh_comp_train_user.csv')

In [12]:
test = users.groupby(['user_id', 'item_category'])
test.head(10)

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11
...,...,...,...,...,...,...
23291015,65341491,155217475,2,NaN,3093,2014-12-18 01
23291016,65341491,149524160,1,NaN,11595,2014-12-03 17
23291020,65341491,74058337,1,NaN,6450,2014-12-03 12
23291021,65341491,312926385,1,NaN,9412,2014-11-29 10
23291024,65341491,52142024,1,95qhbsu,5201,2014-12-10 22